<section id="projects" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-vertical-center">
                <h1>My Projects</h1>
                <div class="row" >
                    <div class="col-md-4" ng-repeat="project in projects">
                        <div class="portfolio-item text-vertical-center" >
                            <h2> {{project.name}}</h2>
                            <p  class="esconderse" ng-hide="project.animate" ng-click="project.play()" style="font-size: large;font-family: 'Arial'">{{project.text}}</p>
                            <img class=" esconderse img-portfolio img-responsive" ng-show="project.animate" ng-click="project.play()" src="{{project.img}}">
                        </div>
                    </div>

                </div>
                <h4> Click image to see project information.</h4>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
